##### https://ocw.mit.edu/courses/sloan-school-of-management/15-071-the-analytics-edge-spring-2017/an-introduction-to-analytics/assignment-1/demographics-and-employment-in-the-united-states/

In [1]:
CPS <- read.csv('../data/CPSData.csv')
str(CPS)

'data.frame':	131302 obs. of  14 variables:
 $ PeopleInHousehold : int  1 3 3 3 3 3 3 2 2 2 ...
 $ Region            : Factor w/ 4 levels "Midwest","Northeast",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ State             : Factor w/ 51 levels "Alabama","Alaska",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ MetroAreaCode     : int  26620 13820 13820 13820 26620 26620 26620 33660 33660 26620 ...
 $ Age               : int  85 21 37 18 52 24 26 71 43 52 ...
 $ Married           : Factor w/ 5 levels "Divorced","Married",..: 5 3 3 3 5 3 3 1 1 3 ...
 $ Sex               : Factor w/ 2 levels "Female","Male": 1 2 1 2 1 2 2 1 2 2 ...
 $ Education         : Factor w/ 8 levels "Associate degree",..: 1 4 4 6 1 2 4 4 4 2 ...
 $ Race              : Factor w/ 6 levels "American Indian",..: 6 3 3 3 6 6 6 6 6 6 ...
 $ Hispanic          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CountryOfBirthCode: int  57 57 57 57 57 57 57 57 57 57 ...
 $ Citizenship       : Factor w/ 3 levels "Citizen, Native",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ EmploymentStatus  : Factor w/ 5 levels "Disabled","Employed",..: 4 5 1 3 2 2 2 2 3 2 ...
 $ Industry          : Factor w/ 14 levels "Agriculture, forestry, fishing, and hunting",..: NA 11 NA NA 11 4 14 4 NA 12 ...

In [2]:
summary(CPS)

 PeopleInHousehold       Region               State       MetroAreaCode
 Min.   : 1.000    Midwest  :30684   California  :11570   Min.   :10420
 1st Qu.: 2.000    Northeast:25939   Texas       : 7077   1st Qu.:21780
 Median : 3.000    South    :41502   New York    : 5595   Median :34740
 Mean   : 3.284    West     :33177   Florida     : 5149   Mean   :35075
 3rd Qu.: 4.000                      Pennsylvania: 3930   3rd Qu.:41860
 Max.   :15.000                      Illinois    : 3912   Max.   :79600
                                     (Other)     :94069   NA's   :34238
      Age                 Married          Sex
 Min.   : 0.00   Divorced     :11151   Female:67481
 1st Qu.:19.00   Married      :55509   Male  :63821
 Median :39.00   Never Married:30772
 Mean   :38.83   Separated    : 2027
 3rd Qu.:57.00   Widowed      : 6505
 Max.   :85.00   NA's         :25338

                   Education                   Race           Hispanic
 High school            :30906   American Indian :  1433   Min.   :0.0000
 Bachelor's degree      :19443   Asian           :  6520   1st Qu.:0.0000
 Some college, no degree:18863   Black           : 13913   Median :0.0000
 No high school diploma :16095   Multiracial     :  2897   Mean   :0.1393
 Associate degree       : 9913   Pacific Islander:   618   3rd Qu.:0.0000
 (Other)                :10744   White           :105921   Max.   :1.0000
 NA's                   :25338
 CountryOfBirthCode               Citizenship               EmploymentStatus
 Min.   : 57.00     Citizen, Native     :116639   Disabled          : 5712
 1st Qu.: 57.00     Citizen, Naturalized:  7073   Employed          :61733
 Median : 57.00     Non-Citizen         :  7590   Not in Labor Force:15246
 Mean   : 82.68                                   Retired           :18619
 3rd Qu.: 57.00                                   Unemployed        : 4203
 Max.   :555.00                                   NA's              :25789

                               Industry
 Educational and health services   :15017
 Trade                             : 8933
 Professional and business services: 7519
 Manufacturing                     : 6791
 Leisure and hospitality           : 6364
 (Other)                           :21618
 NA's                              :65060

# Problem 1.1 - Loading and Summarizing the Dataset
#### Load the dataset from CPSData (CSV) into a data frame called CPS, and view the dataset with the summary() and str() commands.
#### How many interviewees are in the dataset?

In [3]:
nrow(CPS)

[1] 131302

# Problem 1.2 - Loading and Summarizing the Dataset
#### Among the interviewees with a value reported for the Industry variable, what is the most common industry of employment? Please enter the name exactly how you see it.

In [4]:
which.max(table(CPS$Industry))

Educational and health services
                              4

# Problem 1.3 - Loading and Summarizing the Dataset
#### Recall from the homework assignment "The Analytical Detective" that you can call the sort() function on the output of the table() function to obtain a sorted breakdown of a variable. For instance, sort(table(CPS\\$Region)) sorts the regions by the number of interviewees from that region.
#### Which state has the fewest interviewees?

In [5]:
which.min(sort(table(CPS$State)))

New Mexico
         1

In [6]:
which.max(sort(table(CPS$State)))

California
        51

# Problem 1.4 - Loading and Summarizing the Dataset
#### What proportion of interviewees are citizens of the United States?

In [7]:
table(CPS$Citizenship)
(116639 + 7073) / (sum(table(CPS$Citizenship)))

     Citizen, Native Citizen, Naturalized          Non-Citizen
              116639                 7073                 7590

[1] 0.9421943

# Problem 1.5 - Loading and Summarizing the Dataset
#### The CPS differentiates between race (with possible values American Indian, Asian, Black, Pacific Islander, White, or Multiracial) and ethnicity. A number of interviewees are of Hispanic ethnicity, as captured by the Hispanic variable. For which races are there at least 250 interviewees in the CPS dataset of Hispanic ethnicity? (Select all that apply.)
<font color='red'>American Indian</font> # Correct <br>
<font color='red'>Asian</font><br>
<font color='red'>Black</font> # Correct <br>
<font color='red'>Multiracial</font> # Correct <br>
<font color='red'>Pacific Islander</font><br>
<font color='red'>White</font> # Correct <br>

In [8]:
a <- CPS[c("Hispanic", "Race")]
tapply(a$Hispanic, a$Race, sum)

 American Indian            Asian            Black      Multiracial
             304              113              621              448
Pacific Islander            White
              77            16731

# Problem 2.1 - Evaluating Missing Values
#### Which variables have at least one interviewee with a missing (NA) value? (Select all that apply.)
<font color='red'>Region</font><br>
<font color='red'>State</font><br>
<font color='red'>MetroAreaCode</font> # Correct <br>
<font color='red'>Age</font><br>
<font color='red'>Married</font> # Correct <br>
<font color='red'>Sex</font><br>
<font color='red'>Education</font> # Correct <br>
<font color='red'>Race</font><br>
<font color='red'>Hispanic</font><br>
<font color='red'>CountryOfBirthCode</font><br>
<font color='red'>Citizenship</font><br>
<font color='red'>EmploymentStatus</font> # Correct <br>
<font color='red'>Industry</font> # Correct <br>

In [9]:
a  <- apply(CPS, 2, function(x) any(is.na(x)))
a[a == TRUE]

# Another solution
# colnames(CPS)[colSums(is.na(CPS)) > 0]

   MetroAreaCode          Married        Education EmploymentStatus
            TRUE             TRUE             TRUE             TRUE
        Industry
            TRUE

# Problem 2.2 - Evaluating Missing Values
#### Often when evaluating a new dataset, we try to identify if there is a pattern in the missing values in the dataset. We will try to determine if there is a pattern in the missing values of the Married variable. The function is.na(CPS\\$Married) returns a vector of TRUE/FALSE values for whether the Married variable is missing. We can see the breakdown of whether Married is missing based on the reported value of the Region variable with the function table(CPS\\$Region, is.na(CPS\\$Married)). Which is the most accurate:

<font color='red'>The Married variable being missing is related to the Region value for the interviewee.</font><br>
<font color='red'>The Married variable being missing is related to the Sex value for the interviewee.</font><br>
<font color='red'>The Married variable being missing is related to the Age value for the interviewee.</font># Correct <br>
<font color='red'>The Married variable being missing is related to the Citizenship value for the interviewee.</font><br>
<font color='red'>The Married variable being missing is not related to the Region, Sex, Age, or Citizenship value for the interviewee.</font><br>

In [10]:
table(CPS$Region, is.na(CPS$Married))
table(CPS$Sex, is.na(CPS$Married))
table(CPS$Age, is.na(CPS$Married))
table(CPS$Citizenship, is.na(CPS$Married))

            FALSE  TRUE
  Midwest   24609  6075
  Northeast 21432  4507
  South     33535  7967
  West      26388  6789

         FALSE  TRUE
  Female 55264 12217
  Male   50700 13121

     FALSE TRUE
  0      0 1283
  1      0 1559
  2      0 1574
  3      0 1693
  4      0 1695
  5      0 1795
  6      0 1721
  7      0 1681
  8      0 1729
  9      0 1748
  10     0 1750
  11     0 1721
  12     0 1797
  13     0 1802
  14     0 1790
  15  1795    0
  16  1751    0
  17  1764    0
  18  1596    0
  19  1517    0
  20  1398    0
  21  1525    0
  22  1536    0
  23  1638    0
  24  1627    0
  25  1604    0
  26  1643    0
  27  1657    0
  28  1736    0
  29  1645    0
  30  1854    0
  31  1762    0
  32  1790    0
  33  1804    0
  34  1653    0
  35  1716    0
  36  1663    0
  37  1531    0
  38  1530    0
  39  1542    0
  40  1571    0
  41  1673    0
  42  1711    0
  43  1819    0
  44  1764    0
  45  1749    0
  46  1665    0
  47  1647    0
  48  1791    0
  49  1989    0
  50  1966    0
  51  1931    0
  52  1935    0
  53  1994    0
  54  1912    0
  55  1895    0
  56  1935    0
  57  1827    0
  58  1874    0
  59  1758    0
  60  1746    0
  61  1735    0
  62  1595    0
  63  1596    0
  64  1519    0
  65  1569    0
  66  1577    0
  67  1227    0
  68  1130    0
  69  1062    0
  70  1195    0
  71  1031    0
  72   941    0
  73   896    0
  74   842    0
  75   763    0
  76   729    0
  77   698    0
  78   659    0
  79   661    0
  80  2664    0
  85  2446    0

                       FALSE  TRUE
  Citizen, Native      91956 24683
  Citizen, Naturalized  6910   163
  Non-Citizen           7098   492

# Problem 2.3 - Evaluating Missing Values
#### As mentioned in the variable descriptions, MetroAreaCode is missing if an interviewee does not live in a metropolitan area. Using the same technique as in the previous question, answer the following questions about people who live in non-metropolitan areas.
#### How many states had all interviewees living in a non-metropolitan area (aka they have a missing MetroAreaCode value)? For this question, treat the District of Columbia as a state (even though it is not technically a state).

In [11]:
sum(table(CPS$State, is.na(CPS$MetroAreaCode))[,1]==0)

[1] 2

#### How many states had all interviewees living in a metropolitan area? Again, treat the District of Columbia as a state.

In [12]:
sum(table(CPS$State, is.na(CPS$MetroAreaCode))[,2]==0)

[1] 3

# Problem 2.4 - Evaluating Missing Values
#### Which region of the United States has the largest proportion of interviewees living in a non-metropolitan area?
<font color='red'>Midwest</font> # Correct<br>
<font color='red'>Northeast</font><br>
<font color='red'>South</font><br>
<font color='red'>West</font><br>

In [13]:
a <- table(CPS$Region, is.na(CPS$MetroAreaCode))
(a$perc <- a[,2] / (a[,1] + a[,2]))

Warning message in a$perc <- a[, 2]/(a[, 1] + a[, 2]):
“Coercing LHS to a list”

  Midwest Northeast     South      West
0.3478686 0.2162381 0.2378440 0.2436628

# Problem 2.5 - Evaluating Missing Values
#### While we were able to use the table() command to compute the proportion of interviewees from each region not living in a metropolitan area, it was somewhat tedious (it involved manually computing the proportion for each region) and isn't something you would want to do if there were a larger number of options. It turns out there is a less tedious way to compute the proportion of values that are TRUE. The mean() function, which takes the average of the values passed to it, will treat TRUE as 1 and FALSE as 0, meaning it returns the proportion of values that are true. For instance, mean(c(TRUE, FALSE, TRUE, TRUE)) returns 0.75. Knowing this, use tapply() with the mean function to answer the following questions:
#### Which state has a proportion of interviewees living in a non-metropolitan area closest to 30%?

In [14]:
a <- table(CPS$State, is.na(CPS$MetroAreaCode))
sort(a$perc <- a[,2] / (a[,1] + a[,2]))
# Wisconsin

Warning message in a$perc <- a[, 2]/(a[, 1] + a[, 2]):
“Coercing LHS to a list”

District of Columbia           New Jersey         Rhode Island
          0.00000000           0.00000000           0.00000000
          California              Florida        Massachusetts
          0.02048401           0.03923092           0.06492199
            Maryland             New York          Connecticut
          0.06937500           0.08060769           0.08568406
            Illinois             Colorado              Arizona
          0.11221881           0.12991453           0.13154450
              Nevada                Texas            Louisiana
          0.13308190           0.14370496           0.16137931
        Pennsylvania             Michigan           Washington
          0.17430025           0.17825661           0.18131868
             Georgia             Virginia                 Utah
          0.19843249           0.19844226           0.21009772
              Oregon             Delaware           New Mexico
          0.21821925           0.23396567           0.24500907
              Hawaii                 Ohio              Alabama
          0.24916627           0.25122349           0.25872093
             Indiana            Wisconsin       South Carolina
          0.29141717           0.29932986           0.31302774
           Minnesota             Oklahoma             Missouri
          0.31506849           0.32764281           0.32867133
           Tennessee               Kansas       North Carolina
          0.35594170           0.36227390           0.37304315
                Iowa             Arkansas                Idaho
          0.48694620           0.49049965           0.49868248
            Kentucky        New Hampshire             Nebraska
          0.50678979           0.56874530           0.58132376
               Maine              Vermont          Mississippi
          0.59832081           0.65238095           0.69430894
        South Dakota         North Dakota        West Virginia
          0.70250000           0.73738602           0.75585522
             Montana               Alaska              Wyoming
          0.83607908           1.00000000           1.00000000

#### Which state has the largest proportion of non-metropolitan interviewees, ignoring states where all interviewees were non-metropolitan?

Montana

# Problem 3.1 - Integrating Metropolitan Area Data
#### Codes like MetroAreaCode and CountryOfBirthCode are a compact way to encode factor variables with text as their possible values, and they are therefore quite common in survey datasets. In fact, all but one of the variables in this dataset were actually stored by a numeric code in the original CPS datafile.
#### When analyzing a variable stored by a numeric code, we will often want to convert it into the values the codes represent. To do this, we will use a dictionary, which maps the the code to the actual value of the variable. We have provided dictionaries MetroAreaCodes.csv and CountryCodes.csv, which respectively map MetroAreaCode and CountryOfBirthCode into their true values. Read these two dictionaries into data frames MetroAreaMap and CountryMap.
#### How many observations (codes for metropolitan areas) are there in MetroAreaMap?

In [15]:
# copy data files from anothere folder
system("cp ../../../learning/The-Analytics-Edge/data/MetroAreaCodes.csv CountryCodes.csv /home/home/Desktop/github/The-analytics-edge/data", intern = TRUE)

Warning message in system("cp ../../../learning/The-Analytics-Edge/data/MetroAreaCodes.csv CountryCodes.csv /home/home/Desktop/github/The-analytics-edge/data", :
“running command 'cp ../../../learning/The-Analytics-Edge/data/MetroAreaCodes.csv CountryCodes.csv /home/home/Desktop/github/The-analytics-edge/data' had status 1”

character(0)
attr(,"status")
[1] 1
attr(,"errmsg")
[1] "Resource temporarily unavailable"

In [16]:
MetroAreaMap <- read.csv("../data/MetroAreaCodes.csv")
CountryMap <- read.csv("../data/CountryCodes.csv")

In [17]:
nrow(MetroAreaMap)

[1] 271

#### How many observations (codes for countries) are there in CountryMap?

In [18]:
nrow(CountryMap)

[1] 149

# Problem 3.m2 - Integrating Metropolitan Area Data
#### To merge in the metropolitan areas, we want to connect the field MetroAreaCode from the CPS data frame with the field Code in MetroAreaMap. The following command merges the two data frames on these columns, overwriting the CPS data frame with the result:
#### CPS = merge(CPS, MetroAreaMap, by.x="MetroAreaCode", by.y="Code", all.x=TRUE)
#### The first two arguments determine the data frames to be merged (they are called "x" and "y", respectively, in the subsequent parameters to the merge function). by.x="MetroAreaCode" means we're matching on the MetroAreaCode variable from the "x" data frame (CPS), while by.y="Code" means we're matching on the Code variable from the "y" data frame (MetroAreaMap). Finally, all.x=TRUE means we want to keep all rows from the "x" data frame (CPS), even if some of the rows' MetroAreaCode doesn't match any codes in MetroAreaMap (for those familiar with database terminology, this parameter makes the operation a left outer join instead of an inner join).
#### Review the new version of the CPS data frame with the summary() and str() functions. What is the name of the variable that was added to the data frame by the merge() operation?

In [19]:
CPS = merge(CPS, MetroAreaMap, by.x="MetroAreaCode", by.y="Code", all.x=TRUE)

In [20]:
str(CPS)

'data.frame':	131302 obs. of  15 variables:
 $ MetroAreaCode     : int  10420 10420 10420 10420 10420 10420 10420 10420 10420 10420 ...
 $ PeopleInHousehold : int  4 4 2 4 1 3 4 4 2 3 ...
 $ Region            : Factor w/ 4 levels "Midwest","Northeast",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ State             : Factor w/ 51 levels "Alabama","Alaska",..: 36 36 36 36 36 36 36 36 36 36 ...
 $ Age               : int  2 9 73 40 63 19 30 6 60 32 ...
 $ Married           : Factor w/ 5 levels "Divorced","Married",..: NA NA 2 2 3 3 2 NA 2 2 ...
 $ Sex               : Factor w/ 2 levels "Female","Male": 2 2 1 1 2 1 1 1 1 2 ...
 $ Education         : Factor w/ 8 levels "Associate degree",..: NA NA 8 4 6 4 2 NA 4 4 ...
 $ Race              : Factor w/ 6 levels "American Indian",..: 6 6 6 6 6 6 2 6 6 6 ...
 $ Hispanic          : int  0 0 0 0 0 0 0 1 0 0 ...
 $ CountryOfBirthCode: int  57 57 57 362 57 57 203 57 57 57 ...
 $ Citizenship       : Factor w/ 3 levels "Citizen, Native",..: 1 1 1 2 1 1 3 1 1 1 ...
 $ EmploymentStatus  : Factor w/ 5 levels "Disabled","Employed",..: NA NA 4 3 1 2 3 NA 2 2 ...
 $ Industry          : Factor w/ 14 levels "Agriculture, forestry, fishing, and hunting",..: NA NA NA NA NA 7 NA NA 4 13 ...
 $ MetroArea         : Factor w/ 271 levels "Akron, OH","Albany-Schenectady-Troy, NY",..: 1 1 1 1 1 1 1 1 1 1 ...

In [21]:
table(is.na(CPS$MetroArea))

FALSE  TRUE
97064 34238

Problem 3.3 - Integrating Metropolitan Area Data
#### Which of the following metropolitan areas has the largest number of interviewees?
<font color='red'>Atlanta-Sandy Springs-Marietta, GA</font><br>
<font color='red'>Baltimore-Towson, MD</font><br>
<font color='red'>Boston-Cambridge-Quincy, MA-NH</font> # Center<br>
<font color='red'>San Francisco-Oakland-Fremont, CA</font><br>

In [22]:
sort(table(CPS$MetroArea)[c("Atlanta-Sandy Springs-Marietta, GA",
                                             "Baltimore-Towson, MD",
                                             "Boston-Cambridge-Quincy, MA-NH",
                                             "San Francisco-Oakland-Fremont, CA")]
     , decreasing = T)

    Boston-Cambridge-Quincy, MA-NH Atlanta-Sandy Springs-Marietta, GA
                              2229                               1552
              Baltimore-Towson, MD  San Francisco-Oakland-Fremont, CA
                              1483                               1386

# Problem 3.4 - Integrating Metropolitan Area Data
#### Which metropolitan area has the highest proportion of interviewees of Hispanic ethnicity? Hint: Use tapply() with mean, as in the previous subproblem. Calling sort() on the output of tapply() could also be helpful here.

In [23]:
sort(tapply(CPS$Hispanic ,CPS$MetroArea, mean, na.rm=TRUE), decreasing = T)[1]

Laredo, TX
 0.9662921

# Problem 3.5 - Integrating Metropolitan Area Data
#### Remembering that CPS\\$Race == "Asian" returns a TRUE/FALSE vector of whether an interviewee is Asian, determine the number of metropolitan areas in the United States from which at least 20% of interviewees are Asian.

In [24]:
sum(tapply(CPS$Race == 'Asian',CPS$MetroArea, mean, na.rm=TRUE)>0.2 , na.rm = T)

[1] 4

# Problem 3.6 - Integrating Metropolitan Area Data
#### Normally, we would look at the sorted proportion of interviewees from each metropolitan area who have not received a high school diploma with the command:
#### sort(tapply(CPS\\$Education == "No high school diploma", CPS\\$MetroArea, mean))
#### However, none of the interviewees aged 14 and younger have an education value reported, so the mean value is reported as NA for each metropolitan area. To get mean (and related functions, like sum) to ignore missing values, you can pass the parameter na.rm=TRUE. Passing na.rm=TRUE to the tapply function, determine which metropolitan area has the smallest proportion of interviewees who have received no high school diploma.

In [25]:
which.min(tapply(CPS$Education == 'No high school diploma',CPS$MetroArea, mean, na.rm=TRUE))

Iowa City, IA
          112

# Problem 4.1 - Integrating Country of Birth Data
#### mJust as we did with the metropolitan area information, merge in the country of birth information from the CountryMap data frame, replacing the CPS data frame with the result. If you accidentally overwrite CPS with the wrong values, remember that you can restore it by re-loading the data frame from CPSData.csv and then merging in the metropolitan area information using the command provided in the previous subproblem.
#### mWhat is the name of the variable added to the CPS data frame by this merge operation?

In [26]:
CPS  <- merge(CPS, CountryMap, by.x="CountryOfBirthCode", by.y="Code", all.x=TRUE)
str(CPS)

'data.frame':	131302 obs. of  16 variables:
 $ CountryOfBirthCode: int  57 57 57 57 57 57 57 57 57 57 ...
 $ MetroAreaCode     : int  10420 71650 10420 10420 10420 10420 10420 10420 10420 10420 ...
 $ PeopleInHousehold : int  2 4 5 2 2 3 1 3 4 4 ...
 $ Region            : Factor w/ 4 levels "Midwest","Northeast",..: 1 2 1 1 1 1 1 1 1 1 ...
 $ State             : Factor w/ 51 levels "Alabama","Alaska",..: 36 30 36 36 36 36 36 36 36 36 ...
 $ Age               : int  73 5 10 30 30 0 34 32 6 9 ...
 $ Married           : Factor w/ 5 levels "Divorced","Married",..: 2 NA NA 2 2 NA 1 2 NA NA ...
 $ Sex               : Factor w/ 2 levels "Female","Male": 1 1 1 1 1 2 2 2 1 2 ...
 $ Education         : Factor w/ 8 levels "Associate degree",..: 8 NA NA 1 2 NA 4 4 NA NA ...
 $ Race              : Factor w/ 6 levels "American Indian",..: 6 6 6 6 6 6 6 6 6 6 ...
 $ Hispanic          : int  0 0 0 0 0 0 0 0 1 0 ...
 $ Citizenship       : Factor w/ 3 levels "Citizen, Native",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ EmploymentStatus  : Factor w/ 5 levels "Disabled","Employed",..: 4 NA NA 2 2 NA 2 2 NA NA ...
 $ Industry          : Factor w/ 14 levels "Agriculture, forestry, fishing, and hunting",..: NA NA NA 13 9 NA 3 13 NA NA ...
 $ MetroArea         : Factor w/ 271 levels "Akron, OH","Albany-Schenectady-Troy, NY",..: 1 34 1 1 1 1 1 1 1 1 ...
 $ Country           : Factor w/ 149 levels "Afghanistan",..: 139 139 139 139 139 139 139 139 139 139 ...

In [27]:
table(is.na(CPS$Country))

 FALSE   TRUE
131126    176

# Problem 4.2 - Integrating Country of Birth Data
#### Among all interviewees born outside of North America, which country was the most common place of birth?

In [28]:
sort(table(CPS$Country), decreasing = TRUE)[1:10]
# United States and Mexico in North America, so we chose Philippines as an answer for this question

United States        Mexico   Philippines         India         China
       115063          3921           839           770           581
  Puerto Rico   El Salvador       Vietnam       Germany          Cuba
          518           477           458           438           426

# Problem 4.3 - Integrating Country of Birth Data
#### What proportion of the interviewees from the "New York-Northern New Jersey-Long Island, NY-NJ-PA" metropolitan area have a country of birth that is not the United States? For this computation, don't include people from this metropolitan area who have a missing country of birth.

In [29]:
# sort(table(CPS$Country), decreasing = TRUE)[1:10]
a <- sort(tapply(CPS$MetroArea == "New York-Northern New Jersey-Long Island, NY-NJ-PA" , 
       CPS$Country,
      sum, na.rm=TRUE), decreasing = TRUE)
(sum(a) - a['United States']) / sum(a)

United States
    0.3086603

# Problem 4.4 - Integrating Country of Birth Data
#### Which metropolitan area has the largest number (note -- not proportion) of interviewees with a country of birth in India? Hint -- remember to include na.rm=TRUE if you are using tapply() to answer this question.
<font color='red'>Boston-Cambridge-Quincy, MA-NH</font><br>
<font color='red'>Minneapolis-St Paul-Bloomington, MN-WI</font><br>
<font color='red'>New York-Northern New Jersey-Long Island, NY-NJ-PA</font> # Correct<br>
<font color='red'>Washington-Arlington-Alexandria, DC-VA-MD-WV</font><br>

In [30]:
sort(tapply(CPS$Country == 'India' ,CPS$MetroArea, sum, na.rm=TRUE), decreasing = T)[1]

New York-Northern New Jersey-Long Island, NY-NJ-PA
                                                96

#### In Brazil?
<font color='red'>Boston-Cambridge-Quincy, MA-NH</font> # Correct <br>
<font color='red'>Minneapolis-St Paul-Bloomington, MN-WI</font><br>
<font color='red'>New York-Northern New Jersey-Long Island, NY-NJ-PA</font><br>
<font color='red'>Washington-Arlington-Alexandria, DC-VA-MD-WV</font><br>

In [31]:
sort(tapply(CPS$Country == 'Brazil' ,CPS$MetroArea, sum, na.rm=TRUE), decreasing = T)[1]

Boston-Cambridge-Quincy, MA-NH
                            18

#### In Somalia?
<font color='red'>Boston-Cambridge-Quincy, MA-NH</font> # Correct<br>
<font color='red'>Minneapolis-St Paul-Bloomington, MN-WI</font><br>
<font color='red'>New York-Northern New Jersey-Long Island, NY-NJ-PA</font><br>
<font color='red'>Washington-Arlington-Alexandria, DC-VA-MD-WV</font><br>

In [32]:
sort(tapply(CPS$Country == 'Somalia' ,CPS$MetroArea, sum, na.rm=TRUE), decreasing = T)[1]

Minneapolis-St Paul-Bloomington, MN-WI
                                    17